@charset "UTF-8";

@media screen and (min-width:992px) {

    body {
        background: var(--cor06) url(../imagens/fundo-g.jpg) no-repeat fixed;
        background-size: cover;
    }

    section {
        height: 500px;
        width: 90vw;
        max-width: 1200px;
        min-width: 992px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        text-align: left;


    }

    span.material-symbols-rounded {
        font-size: 2.5em;
        font-variation-settings: 'OPSZ' 2.5em;
    }   

    .icon {
        padding-top: 25px;
    }
   
    section > h1 {
        padding: 5px 0 15px;
        font-family: var(--fonte01);
        font-size: 2.5rem;
        text-align: left;
    }

    section > p {
        text-align: left;
        margin-left: 11%;
    }

    section > form > p {
        margin-top: 5px;
    }

    div.campo {
        margin-top: 5px;
    }

    form > div.campo {
        width: 38%;
    }


    .icon {
        margin: 0px;
        margin-top: 5px;
    }

    div.imagem {
        position: absolute;
        right: 0;
        top: 0;
        background: var(--cor06) url(../imagens/login.jpg) no-repeat center center;
        background-size: cover;
        height: 600px;
        width: 60%;
    }

    form > input[type=submit] {
        margin-left: 15%;
        margin-bottom: 10px;
    }

    .forgot {
        left: 20%;

    }
}