@charset "UTF-8";

/*Cfgs gerais*/

:root {
    --cor01: #CDD1DE;
    --cor02: #39399A;
    --cor03: #ff8552;
    --cor04: #ffe548;
    --cor05: #fed766;
    --cor06: #39393a;

    --fonte01: "Madimi One", cursive;
    --fonte02: "Dosis", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

body{
    background: var(--cor06) url(../imagens/fundo-p.jpg) no-repeat center center fixed;
    background-size: cover;
}

section {
    display: block;
    height: 400px;
    width: 320px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fonte02);
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.493);
    
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section > h1 {
    margin-left: 10px;
    padding: 5px 0 15px;
    font-family: var(--fonte01);
    font-size: 2.5rem;
    color: var(--cor01);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    text-align: center;
}

section > p {
    margin-top: 70px;
    text-align: center;
    color: var(--cor01);
}
section a {
    text-decoration: none;
    color: var(--cor04);
}

section a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    transition: 0.6s;
}

/*span.material-symbols-rounded {
    font-size: 2em;
    font-variation-settings: 'OPSZ' 2em;
}*/

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 40px;
    overflow: hidden;
}

div.campo span {
    color: var(--cor06);
    padding: 5px;
    background: var(--cor03);
    font-size: 2em;
}

div.campo > input {
    font-size: 1em;
    border: none;
    width: calc(100% - 43px);
    height: 100%;
    transform: translateY(-11px);
    padding: 5px;
    margin-left: -3px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
}

form {
    margin-left: 10px;
}

form > div > label {
    color: var(--cor01);
}

form > input[type=submit] {
    display: block;
    padding: 5px 30px 5px;
    margin: auto;
    margin-top: 25px;
    font: 700 1.5em var(--fonte02);
    border-radius: 50px;
    border: none;
    color: var(--cor06);
    background: var(--cor03);
}

form > input[type=text] {
    background: var(--cor02);
}

form > input[type=submit]:hover {
    background: var(--cor04);
    transform: scale(1.4);
    transition: 0.4s;
}

.forgot {
    display: block; 
    position: absolute;
    left: 50%;
    translate: -45%;
    text-decoration: none;   
    color: var(--cor04);
    padding: 5px;
}

.forgot:hover {
    transform: scale(1.2);
    text-decoration: underline;
    transition: 0.6s;
}


