@charset "UTF-8";

/*Cfgs gerais*/

:root {
    --cor01: #CDD1DE;
    --cor02: #39399A;
    --cor03: #ff8552;
    --cor04: #ffe548;
    --cor05: #fed766;

    --fonte01: "Madimi One", cursive;
    --fonte02: "Dosis", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

